@import 'flexbox.scss';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #333;
    color: #eee;
    font-family: sans-serif;
}

body > div {
    height: 100%;
    width: 100%;
}

.focusableList {
    background: red;
    // padding: 20px;
    overflow: hidden;
	--spatial-navigation-contain: contain;
    --spatial-navigation-function: grid;
	--spatial-navigation-action: focus;
    max-width: 100vw;
    max-height: 100vh;
}

.focusableItem {
    background: green;
    margin: 20px;
    width: calc(2*160pt);
    height: calc(2*90pt);
    @include flex-shrink(0);
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.focusableItem:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 22.811px
}

.focusableListHorizontal > .scroller {
    @include flexbox();
    @include flex-direction(row);
    transition: transform 0.3s;
    overflow: hidden;
    display: inline-flex;
}

.focusableListVertical > .scroller {
    @include flexbox();
    @include flex-direction(column);
    transition: transform 0.3s;
    overflow: hidden;
    display: inline-flex;
}

.gridView {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(center);

	--spatial-navigation-contain: contain;
    --spatial-navigation-function: grid;
	--spatial-navigation-action: focus;
}

.gridVideoItem {
    color: #eee;
    text-decoration: none;
    background: #222;
    margin: 10pt;
    padding: 10pt;
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.gridVideoItem .thumbnail {
    width: calc(2*160pt);
    height: calc(2*90pt);
}

.gridVideoItem:focus {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 10px
}

.videoBox {
    width: 100%;
    height: 100%;
}

.videoBox > div, .videoBox > video {
    width: 100%;
    height: 100%;
}

.loadingOverlay {
    opacity: 0.5;
    background: black;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20pt;
}

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 8.0em;
  height: 8.0em;
  margin-bottom: -3em;
}
.ldsEllipsis div {
  position: absolute;
  top: 3.3em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
  left: 0.8em;
  animation: ldsEllipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
  left: 0.8em;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
  left: 3.2em;
  animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
  left: 5.6em;
  animation: ldsEllipsis3 0.6s infinite;
}
@keyframes ldsEllipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldsEllipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ldsEllipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2.4em, 0);
  }
}
